name: Update rubocop gems
on:
  workflow_dispatch:
  repository_dispatch:
    types: [update-rubocop]

permissions:
  contents: read

jobs:
  permissions:
    contents: write # to create branch (peter-evans/create-pull-request)
    pull-requests: write # to create a PR (peter-evans/create-pull-request)

  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: git config
      run: |
        git config user.name github-actions
        git config user.email github-actions@github.com

    - uses: ruby/setup-ruby@v1
      with:
        bundler-cache: true
    - name: Update rubocop gems
      run: |
        set -euxo pipefail
        bundle config unset deployment # automatically set in ruby/setup-ruby
        bundle update $(bundle list --name-only | grep rubocop)
        git status
        git diff
        git add Gemfile.lock
        git commit -m 'Update rubocop gems'
    - name: Update rubocop_todo
      run: |
        set -ux
        rm -rf .rubocop_todo
        bundle exec rubocop -fj |
          jq -r '[.files[].offenses[].cop_name] | unique | .[]' |
          xargs -I '{}' sh -c '{
            echo "diff --git a/.rubocop_todo/{}.yml b/.rubocop_todo/{}.yml";
            echo "new file mode 100644";
            echo "@@ -0,0 +1,2 @@";
            echo "+{}:";
            echo "+  Enabled: false";
          }' | git apply
          git add .rubocop_todo || true
          git commit -m 'Update .rubocop_todo/' .rubocop_todo || true
    - name: Create Pull Request
      id: cpr
      uses: peter-evans/create-pull-request@v6
      with:
        branch: update-rubocop-gems
        title: 'Update rubocop gems'
        body: >
          This PR is auto-generated by
          [create-pull-request](https://github.com/peter-evans/create-pull-request).
    - name: Check outputs
      if: ${{ steps.cpr.outputs.pull-request-number }}
      run: |
        echo "Pull Request Number - ${{ steps.cpr.outputs.pull-request-number }}"
        echo "Pull Request URL - ${{ steps.cpr.outputs.pull-request-url }}"
